version: '3.8'
services:
  db:
    image: postgis/postgis:16-3.4
    environment:
      POSTGRES_USER: y_junction
      POSTGRES_PASSWORD: y_junction
      POSTGRES_DB: y_junction
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
